
<header>{{house.title}}</header>
<div class="body">
	<div class="background"><img src="{{house.art.background}}" alt=""/></div>
	<div class="avatar"><img src="{{house.art.avatar}}" alt=""/></div>
	<div class="description">{{house.description}}</div>
	<div class="stats">{{house.data.stats}}</div>
	<div class="abilities">{{house.abilities}}</div>
</div>
